#profilepic{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-left: 2%;
    vertical-align: middle;    
}
#top{
    background-color: rgba(189, 192, 190, 0.486);
    padding-left: 10px;
    padding: 10px;
    padding-top: 10px;
    width: 63%;

}

.flex-container{
    display: flex;
    flex-direction: column;
    width: 60%;
}

#icons{
    float: right;
    margin-left: 20px;
    margin-right: 100px;
    margin-top: 10px;
}

i{
    color: gray;
}

#second{
    background-color: rgba(241, 245, 242, 0.979);
    padding: 10px;
    width: 63%;

}

#search{
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: white;
    margin-right: 20px;
    padding: 10px;
    border-radius: 30px;
}

#input{
    border: none;
    border-bottom: 1px solid lightgrey;
    margin-left: 10px;
    font-size: 15px;
    width: 90%;
}

.photo{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    float: left;
    margin-right: 20px;
    margin-left: 5px;
    margin-top: 1%;

}

.contactname{
    font-weight: bold;
    margin-bottom: 0%;
}

.message{
    color: rgb(75, 74, 74);
    margin-top: 0.5%;
}

.text{
    border-bottom: 1px solid lightgray;
    width: 90%;
    margin-left: 100px;
    padding-top: 3px;
    font-family: 'Lato', sans-serif;
    font-size: 90%;
}

.text:hover{
    background-color: rgb(233, 227, 227);
    transition-duration: 1.1s;
}

.time-right{
    float: right;
    margin-top: 18px;
    color: rgb(145, 141, 141);
    font-size: 14px;
    margin-right: 2.1%;
}
